/problema01/sol_java/problema1/nbproject/private/
/problema01/sol_java/problema1/build/
/problema01/sol_java/problema02/nbproject/private/
/problema02/sol_java/problema02/nbproject/private/
/problema02/sol_java/JavaApplication25/nbproject/private/
/problema02/sol_java/JavaApplication25/build/
/problema02/sol_java/problema02/build/
/problema03/sol_java/problema03/nbproject/private/
/problema03/sol_java/problema03/build/
/problema05/sol_java/JavaApplication29/nbproject/private/
/problema05/sol_java/JavaApplication29/build/
/problema09/sol_java/problema 09/nbproject/private/
/problema09/sol_java/problema 09/build/
/problema07/sol_java/problema7/nbproject/private/
/problema07/sol_java/problema7/build/
